# API
API/API_python-env
API/__pycache__
API/.venv


# Frontend


# Backend
Back/.venv
node_modules

Routing/node_modules
Routing/vendor
Routing/src/JS/dist
Routing/package-lock.json

.idea


Back/node_modules
